.navbar ul,
.navbar li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
    padding-top: 10px;
}

.navbar > hr {
    width: 100%;
}

.navbar > div {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar a:hover {
    color: #ff6600;
}
