@import url("general.css");

.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.result-table * {
    font-size: 14px;
    font-family: monospace;
}
.result-table th {
    background-color: var(--secondary-color);
    border: 2px solid var(--background-color);
}
.result-table tr td {
    height: 50px;
}
.result-table tr:hover td {
    background-color: red;
}
.result-table tr:nth-child(even) td {
    background-color: var(--bg-color);
}
.result-table tr:nth-child(odd) td {
    background-color: var(--bg2-color);
}

.result-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
